#mapContainer {
    position: absolute;
    left: 0;
    top: 6%; 
    z-index: 0;
    display: none; 
    opacity: 0; 
    width: 50%;
    height: 100%;
}

#chartContainer {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 30%; 
    right: 0;
}