/* Play-button CSS  */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust as needed */
}

#startButton {
    transition: opacity 1s ease;
}

#startButton {
    margin-top: 170px;
    width: 120px;
    height: 120px;
    background: #222;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box; 
}

#startButton span {
    display: block;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 65px solid #fff;
    position: relative;
    margin: 23px 20px 23px auto; 
}

/* Quote CSS */
.quoteContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: helvetica;
    font-size: 35px; 
    font-style: bold;
}

#quoteThree {
    font-size: 20px;
    text-align: center; 
    max-width: 55%;
}

#quoteRef {
    margin-top: 500px;
    font-size: 15px; 
    font-family: Helvetica;
    font-style: italic;
    transition: opacity 2s ease;
}

/* globeLegend CSS and colour-box */
.globeLegend {
    position: absolute;  /* Use position: absolute to position the element absolutely */
    right: 0;            /* Align the element to the right side */
    top: 50%;            /* Position the element vertically */
    transform: translateY(-50%); /* Center the element vertically */
    width: 45%;
    font-family: Helvetica;  
    font-size: 27px; 
    opacity: 0; 
}

/* Box placement */
.legendBox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legendBox .box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#farve1 .box {
    background-color: #00FF00;
}

#farve2 .box {
    background-color: #FFD700;
}

#farve3 .box {
    background-color: #FF4500;
}

#farve4 .box {
    background-color: grey;
}


/* fade in CSS */
.fade, .fade-in {
    transition: opacity 2s ease-in-out;
}

.fade {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* Globe controler CSS */
/* Fade-in from left class - Globe fade-in in intro */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-left {
    animation: fadeInLeft 2s ease-in-out;
    opacity: 1;
}

/* Initial globe position */
.globeContainer {
    position: absolute; /* Ensure the container is positioned */
    left: 0%; /* Align to the left side /adjust as needed) */
    top: 15%; /* Center vertically (adjust as needed) */
}

/* Becomes active after the 2nd fade (leftfade-in) */
/* Ensure the globe stays on the left after the 2nd fade (leftfade-in) */
.globeContainerLeft {
    position: absolute; /* Ensure the container is positioned */
    left: -22%; /* Align to the left side /adjust as needed) */
    top: 6%; /* Center vertically (adjust as needed) */
}

/* Continue button CSS */
.continueButton {
    position: sticky;
    right: -90%; 
    bottom: -100%; 
    background-color: #2f80ed;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 750;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.2;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    transition: all .5s;
    opacity: 0;
  }

.continueButton:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

