body {
    font-family: sans-serif;
    background-color: rgb(136, 179, 199);
    overflow-x: hidden;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

/* Sphere CSS  */
.graticule {
    fill: none;
    stroke: #444;
    stroke-width: 0.5px;
}

.sphere {
    fill: #0B3D91;
    stroke: #FFF;
    stroke-width: 1px;
    cursor: pointer;

}

.country {
    stroke: #000000;
    stroke-width: 0.3px;
}


#buttonContainer {
    position: absolute;
    right: 500px;
    bottom: 30px;
    cursor: pointer;
}

/* SECTION TWO */
#sectionTwoBody {
    background: #b3daeb77;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
}
.sectionTwoTitle {
    font-size: 24px; 
    font-weight: bold; 
    font-family: Arial, sans-serif; 
}
.sectionTwoTitle2 {
    font-size: 18px; 
    font-style: italic; 
    font-family: "Times New Roman", Times, serif; 
}
.sectionTwoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.sectionTwoChart {
    padding: 2rem;
    border: 1px solid rgba(193, 237, 250, 0.428);
    box-shadow: 0 2px rgba(0, 0, 0, 10);
}
.sectionTwoBar {
    fill-opacity: 0.7;
}
.sectionTwoBar:hover {
    fill-opacity: 1;
}
.sectionTwoTooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
