
body {
    font-family: 'Space Mono', monospace;
    background-color: rgb(136, 179, 199);
    overflow-x: hidden;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

/* Sphere CSS  */
.graticule {
    fill: none;
    stroke: #444;
    stroke-width: 0.5px;
}

.sphere {
    fill: #0B3D91;
    stroke: #FFF;
    stroke-width: 1px;
    cursor: pointer;

}

.country {
    stroke: #000000;
    stroke-width: 0.3px;
}


#buttonContainer {
    position: absolute;
    right: 500px;
    bottom: 30px;
    cursor: pointer;
}
