
.bodyTwo {
    font-family: 'Space Mono', monospace;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.map, .graph {
    width: 45%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.map {
    border-color: green;
}

.map svg {
    position: absolute;
    right: 150px;
}

/* CSS styles for about/article section */

.articlesContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.articlesHeader {
    text-align: center;
    padding: 20px 0;
}

.articlesHeader img {
    max-width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.artivlesHeader h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}
.articles {
    margin-top: 15px; /
}
.article {
    display: flex;
    align-items: center;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.article img {
    max-width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}
.article-content {
    flex: 2;
}
.article-content h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}
.article-content p {
    margin: 0 0 10px 0;
}
.source {
    margin-top: 10px;
}
.more-info {
    background: #e8f4f8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.more-info a {
    color: #000102;
    text-decoration: none;
    font-weight: bold;
}

/* New styles for the info box */


/* Media queries for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
        height: 50vh;
    }
}



/* TEST */

body {
    font-family: sans-serif;
    background-color: rgb(136, 179, 199);
    overflow-x: hidden;

}

/* Initially position completeSite off-screen */
#completeSite {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

/* Class to bring completeSite into view */
.slide-in {
    top: 0;
    opacity: 1;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}


.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-in-left {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


/* Sphere CSS  */
.graticule {
    fill: none;
    stroke: #444;
    stroke-width: 0.5px;
}

.sphere {
    fill: #0B3D91;
    stroke: #FFF;
    stroke-width: 1px;
    cursor: pointer;

}

.country {
    stroke: #000000;
    stroke-width: 0.3px;
}


#buttonContainer {
    position: absolute;
    right: 500px;
    bottom: 30px;
}

#infoBox {
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: 100px auto 20px;  
    text-align: left;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
}

.chart-container {
    display: flex; 
    justify-content: space-between; 
}

.chart {
    width: 50%; 
    height: auto; 
    padding: 10px;
    box-sizing: border-box;
}



#graphLegend {
    position: absolute;
    top: 0px;
}




/* Base styling for the container when inactive */
.whoIsAkon.akonInactive {
    position: relative;
    cursor: pointer;
    width: 5%; /* Initial width of the icon */
    height: auto;
    transition: all 5.5s ease-in-out; 

}

.whoIsAkon.akonActive {
    width: 100%; /* Full viewport width when active */
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: all 10.5s ease-in-out; /* Adjusted to more reasonable duration */
    
}

.whoIsAkon.akonActive::before {
    content: ""; /* Necessary for "pseudo-elements" ????*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
    border-radius: 25px;
    border-color: #333;
    border-style: double;
    border-width: 5px;
    background: url('../public/akonCity.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1; /* Ensures it stays behind other content */
    transition: all 5.5s ease-in-out; 

}

/* Styling for the icon */
.akonIcon {
    position: absolute;
    left: 0%;
    width: 40%;
    cursor: pointer;
}

/* Styling for the information box */
.akonIconInfo {
    display: none;
    position: absolute;
    right: 1%;
    top: 20px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    box-shadow: 0px 0px 100px rgba(0,0,0,1);
    border-radius: 25px;
    margin: 20px;
    
}

.akonIconInfo.akonActive {
    display: block; /* Show when active */
}

/* Styling for the exit button */
.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Content styling */
.infoContent {
    padding: 20px;
    overflow-y: auto; /* Enables vertical scrolling if the content overflows */
    max-height: 900px; /* Sets a maximum height for the content area */
}





.section {
    text-align: left;
}

