body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(136, 179, 199);
    overflow: hidden;
}


.axis {
    font-size: 15px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.highlighted-line {
    fill: none;
    stroke: orange;
    stroke-width: 4;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}



/* Sphere CSS  */
.graticule {
    fill: none;
    stroke: #444;
    stroke-width: 0.5px;
}

.sphere {
    fill: #0B3D91;
    stroke: #FFF;
    stroke-width: 1px;
}

.country {
    stroke: #000000;
    stroke-width: 0.3px;
}