*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        background: #d4d4d477;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: url("Akon.jpeg"); background-size: cover;
    }
    
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 200px;
    }
    
    .chart{
        padding: 2rem;
        border: 1px solid rgba(174, 177, 195, 0.007);
        box-shadow:  0 2px rgba(0,0,0,10);
    }